@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* özel yardımcı */
.neon-glow { box-shadow: 0 0 24px rgba(16,185,129,.45); }
